[init]
	defaultBranch = main

[user]
	name = Pedro Videgain Barranco

[includeIf "gitdir/i:/home/p.videgain.barranco/"]
    path = ~/.work-gitconfig

[includeIf "gitdir/i:/home/videbar/"]
    path = ~/.play-gitconfig

[core]
	editor = vim

[alias]
	graph = log --oneline --graph --decorate
	ac = commit -am
	slog = log --oneline -n 5
