# This is Git's per-user configuration file.
[user]
	email = p.videgain.barranco@fz-juelich.de
	name = Pedro Videgain Barranco
# Please adapt and uncomment the following lines:
[core]
	editor = vim
[alias]
	graph = log --oneline --graph --decorate
	ac = commit -am
	slog = log --oneline -n 5
